.nav-mobile {
  display: none;
}

.nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ca1b7c;
  z-index: 100;
}

.nav-desktop ul {
  text-align: center;
}

.nav-desktop ul li {
  display: inline-block;
  padding: 10px 20px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav-desktop ul li a {
  text-decoration: none;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: #ffffff;
}

.nav-desktop ul li:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.section-header::before {
  content: '';
  display: block;
  height: 3rem;
  background-color: #fff;
}

header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

header .header-logo-img {
  padding: 30px;
}

header .header-text {
  margin-top: 100px;
  padding-right: 30px;
}

header .header-text .header-text-img {
  padding: 0px;
  width: 400px;
}

header .header-text .header-undertext {
  font-size: 2.5rem;
}

#about-us .about-us__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;
}

#about-us .about-us__wrap .about-us__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin: 20px;
  border: 1px solid black;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

#about-us .about-us__wrap .about-us__box .about-us__box-text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-us .about-us__wrap .about-us__box .about-us__box-text .about-us__title {
  margin: 20px;
}

#about-us .about-us__wrap .about-us__box .about-us__box-img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  background-position-x: center;
}

#about-us .about-us__wrap .about-us__box--first {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 5 / 2;
}

#about-us .about-us__wrap .about-us__box--second {
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 7 / 3;
}

#about-us .about-us__wrap .about-us__box--third {
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 9 / 2;
}

#about-us .about-us__wrap .about-us__box--fourth {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 7 / 2 / 11 / 3;
}

#about-us .about-us__wrap .about-us__box--fifth, #about-us .about-us__wrap .about-us__box--sixth {
  background-image: url("../img/polish-clipart-outline-4-transparent.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

#about-us .about-us__wrap .about-us__box--fifth {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 9 / 1 / 11 / 2;
}

#about-us .about-us__wrap .about-us__box--sixth {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
}

#price-list .prices-table {
  width: 75%;
  margin: 5rem auto;
}

#gallery p {
  padding: 10px;
  font-size: 2rem;
}

#contact .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .contact-wrap .contact-box {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 30px;
}

#contact .contact-wrap .contact-box a {
  font-size: 40px;
  letter-spacing: .5rem;
}

#contact .contact-wrap .contact-box a::before {
  position: relative;
  margin: 0 auto;
  display: block;
  content: '';
  height: 3px;
  width: 100px;
  background-color: #ca1b7c;
  top: 65px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#contact .contact-wrap .contact-box a:hover::before {
  opacity: 1;
}

#contact .contact-wrap .adress {
  font-size: 1.8rem;
}

#contact .contact-wrap .gmap {
  border: 1px solid black;
}

#contact .contact-wrap .gmap iframe {
  width: 100%;
}

@media screen and (max-width: 875px) {
  #contact .contact-wrap .contact-box a {
    font-size: 30px;
  }
}
/*# sourceMappingURL=medium.css.map */