.nav-mobile {
	position: fixed;
	width: 60px;
	height: 60px;
	background-color: white;
	border-radius: 10px;
	top: 20px;
	right: 20px;
	font-size: 1.5rem;
}
.main-nav {
	position: fixed;
	width: 180px;
	top: 0;
	left: 0;
	opacity: 0;
}
.main-nav.is-open {
	opacity: 1;
	background-color: rgb(202, 27, 123);
}
.main-nav li {
	display: block;
	list-style: none;
}
.main-nav a {
	display: block;
	padding: 20px 0;
	color: rgb(255, 255, 255);
	font-size: 2em;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
.fas{
	position: fixed;
	top: 30px;
	right: 32px;
	font-size: 40px;
	color: rgb(202, 27, 123);
	cursor: pointer;
}

