$main-color: rgb(202,27,124)
*
    box-sizing: border-box
    margin: 0
    padding: 0

html
    font-size: 10px

body
    background-color: #ffffff
    font-family: 'Lato', sans-serif


.nav-desktop
    display: none

header
    display: flex
    flex-direction: column
    justify-content: center
    background-color: rgba(255,255,255,1)
    height: 100vh
    .header-logo-img
        align-self: center
        padding-bottom: 30px
        width: 200px
    .header-text
        align-self: center
        .header-text-img
            padding-top: 5px
            width: 300px
        .header-undertext
            text-align: right
            font-weight: bold
            color: $main-color
            font-size: 18px

main
    .about-us__box
        display: flex
        flex-direction: column
        justify-content: center
        background-color: white
        padding: 20px 0
        .about-us__box-text
            display: flex
            flex-direction: column
            justify-content: center
            align-self: center
            background-image: url("../img/manitools.jpg")
            background-size: cover

            padding: 30px
            .about-us__title
                margin-bottom: 20px
                font-size: 2.6rem
                font-weight: bold
            .about-us__text
                font-size: 1.6rem
        .about-us__box-img
            align-self: center
            img
                width: 100%
