$main-color: rgb(202,27,124)
*
    box-sizing: border-box
    margin: 0
    padding: 0

html
    font-size: 10px
    scroll-behavior: smooth

body
    background-color: #fdf6fc
    font-family: 'Lato', sans-serif

.wrapper
    background-color: #fff

.nav-desktop
    display: none

.section-header
    font-size: 3rem
    text-align: center
    margin: 0 auto
    background: $main-color
    color: white
    text-shadow: 2px 2px 3px black
    h2
        padding: 10px 0

header
    display: flex
    flex-direction: column
    justify-content: center
    height: 100vh
    .header-logo-img
        align-self: center
        padding-bottom: 30px
        width: 200px
    .header-text
        align-self: center
        .header-text-img
            padding-top: 5px
            width: 300px
        .header-undertext
            font-family: serif
            text-align: right
            font-weight: bold
            color: $main-color
            font-size: 1.8rem
#about-us
    .about-us__wrap
        .about-us__box
            display: grid
            ggrid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(3, 1fr)
            overflow: hidden
            .about-us__box-text
                grid-area: 1 / 1 / 2 / 3
                padding: 20px
                text-align: center
                background-color: white
                z-index: 1
                .about-us__title
                    font-size: 2.6rem
                    font-weight: bold
                .about-us__text
                    font-size: 1.6rem
            .about-us__box-img
                grid-area: 2 / 1 / 4 / 3
                margin-top:
                background-size: cover
                background-repeat: no-repeat
                background-position: 50% 50%
                transition: transform 2s
            .about-us__box-img:hover
                transform: scale(1.2)

            .about-us__box-img--first
                background-image: url('../img/DSC_8528.JPG')
            .about-us__box-img--second
                background-image: url('../img/people-2583493_640.jpg')
            .about-us__box-img--third
                background-image: url('../img/fupflege-5012705_640.jpg')
            .about-us__box-img--fourth
                background-image: url('../img/manitools.jpg')
        .about-us__box--fifth, .about-us__box--sixth
            // display: none

#price-list
    .prices-table
        width: 100%
        margin: 2.5rem auto
        font-size: 1rem
        line-height: 1.5
        border-spacing: 0
        tr
            td
                padding: 10px 20px
                border-bottom: .2px solid $main-color
        tr:first-child
            td
                border-top: .2px solid $main-color
        tr:nth-child(odd)
            background-color: #faf1f8
        .price-list__text
            padding-right: 20px
            .price-list__variant
                margin-left: 20px
            .price-list__additional
                display: none
        .price-list__price
            text-align: right

#gallery
    p
        margin: 0 10px 10px 10px
        font-size: 1.4rem
        text-align: center

#contact
    .contact-box
        width: 100%
        padding: 10px
        text-align: center
        p
            display: inline-block
            padding: 20px
            a
                font-size: 30px
                font-weight: bold
                text-decoration: none
                color: $main-color

        .adress
            padding: 10px 0
            font-size: 1.3rem
            font-weight: bold
            color: $main-color
        .gmap
            box-shadow: 0 -1px 5px black
            height: 300px
            iframe
                width: 100%
                height: 100%
footer
    background-color: $main-color
    font-size: 1.5rem
    line-height: 2
    text-align: center
    color: white

@media screen and ( min-width: 450px )
    #price-list
        .prices-table
            font-size: 1.3rem
    #gallery
        p
            padding: 10px
            font-size: 1.2rem
            text-align: center
    #contact
        .contact-box
            .adress
                padding: 20px 0
                font-size: 1.8rem
