$main-color: rgb(202,27,124)

.nav-mobile
    display: none
.nav-desktop
    display: flex
    justify-content: center
    position: sticky
    top: 0
    background-color: $main-color
    ul
        text-align: center
        li
            display: inline-block
            padding: 5px 20px
            transition: transform .3s
            a
                text-decoration: none
                font-size: 2rem
                font-weight: bold
                color: #ffffff
        li:hover
            transform: scale(1.1)
header
    flex-direction: row
    height: 100%
    .header-logo-img
        padding: 30px
    .header-text
        margin-top: 100px
        padding-right: 30px
        .header-text-img
            padding: 0px
            width: 400px
        .header-undertext
            font-size: 2.5rem

#about-us
    .about-us__wrap
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(10, 1fr)
        grid-column-gap: 20px
        grid-row-gap: 20px
        padding: 20px
        .about-us__box
            display: grid
            grid-template-columns: repeat(6, 1fr)
            grid-template-rows: repeat(6, 1fr)
            background-color: white
            margin: 20px
            border: 1px solid black
            box-shadow: 2px 2px 5px black
            .about-us__box-text
                .about-us__title
                    margin-bottom: 20px
                    font-size: 2.6rem
                    font-weight: bold
                .about-us__text
                    font-size: 1.6rem
            .about-us__box-img
                background-size: cover
                background-repeat: no-repeat
                background-position-x: center
            .about-us__box-img--first
                background-image: url('../img/DSC_8528.JPG')
            .about-us__box-img--second
                background-image: url('../img/people-2583493_640.jpg')
            .about-us__box-img--third
                background-image: url('../img/fupflege-5012705_640.jpg')
            .about-us__box-img--fourth
                background-image: url('../img/manicure-2061276_640.jpg')
        .about-us__box--first
            grid-area: 1 / 1 / 5 / 2
        .about-us__box--second
            grid-area: 3 / 2 / 7 / 3
        .about-us__box--third
            grid-area: 5 / 1 / 9 / 2
        .about-us__box--fourth
            grid-area: 7 / 2 / 11 / 3
