$main-color: rgb(202,27,124)

.wrapper
    max-width: 1280px
    margin: 0 auto
   
.nav-mobile
    display: none

header
    display: flex
    flex-direction: row
    justify-content: center
    background-color: rgba(255,255,255,1)
    height: 100%
    .header-logo-img
        align-self: center
        padding: 30px
        width: 200px
    .header-text
        align-self: center
        margin-top: 100px
        padding-right: 30px
        .header-text-img
            padding: 0px
            width: 400px
        .header-undertext
            font-family: serif
            padding: 0 0px
            text-align: right
            font-weight: bold
            color: $main-color
            font-size: 2.5rem

main
    .nav-desktop
        display: flex
        justify-content: center
        position: sticky
        top: 0
        background-color: rgb(255,255,255)
        ul
            text-align: center
            li
                display: inline-block
                padding: 5px 20px
                transition: transform .2s
                a
                    text-decoration: none
                    font-size: 2rem
                    font-weight: bold
                    color: $main-color
            li:hover
                transform: scale(1.3)

    .about-us__box
        display: flex
        flex-direction: row
        justify-content: center
        padding: 30px
        background-color: rgb(255, 255, 255)
        .about-us__box-text
            display: flex
            flex-direction: column
            align-content: center
            width: 50%
            padding: 30px
            .about-us__title
                align-items:
                margin-bottom: 20px
                font-size: 2.6rem
                font-weight: bold
            .about-us__text
                font-size: 1.6rem
        .about-us__box-img
            width: 50%
            padding: 30px
            img
                box-shadow: 5px 5px 10px black
        .about-us__box-text--rev
            order: 1
        .about-us__box-img--rev
            order: 0
