#about-us
    .about-us__wrap
        .about-us__box
            grid-template-rows: repeat(6, 1fr)
            .about-us__box-img
                grid-area: 2 / 1 / 7 / 3
#price-list
    .prices-table
        font-size: 1.8rem

#contact
    .contact-box
        .adress
            padding: 20px 0
            font-size: 2.2rem
